In [4]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
df_pyspark = spark.read.option('header','true').csv('test.csv')

NameError: name 'spark' is not defined

In [8]:
df_pyspark.show()

+------+----+------+
|Nombre|edad|Genero|
+------+----+------+
|  qweq|  34|     H|
|qweqwe|  34|     M|
|asdasd|  43|     H|
|eeeeee|  12|     M|
|aaaaaa|  76|     H|
+------+----+------+

In [9]:
df_pyspark.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- edad: string (nullable = true)
 |-- Genero: string (nullable = true)

In [10]:
df_pyspark.columns

['Nombre', 'edad', 'Genero']

In [15]:
df_pyspark.select('Nombre').show()

+------+
|Nombre|
+------+
|  qweq|
|qweqwe|
|asdasd|
|eeeeee|
|aaaaaa|
+------+

In [20]:
df_pyspark_subdata = df_pyspark.select(['Nombre','Genero'])

In [21]:
df_pyspark_subdata.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Genero: string (nullable = true)

In [23]:
df_pyspark_subdata.show()

+------+------+
|Nombre|Genero|
+------+------+
|  qweq|     H|
|qweqwe|     M|
|asdasd|     H|
|eeeeee|     M|
|aaaaaa|     H|
+------+------+

In [56]:
df_pyspark.dtypes

AttributeError: 'NoneType' object has no attribute 'dtypes'

In [55]:
df_pyspark.describe().show()

AttributeError: 'NoneType' object has no attribute 'describe'

In [33]:
df_pyspark = df_pyspark.withColumn('Edad en Meses',df_pyspark['Edad']*12)

In [51]:
df_pyspark.show()

AttributeError: 'NoneType' object has no attribute 'show'

In [54]:
df_pyspark = df_pyspark.drop('Edad en Meses')

AttributeError: 'NoneType' object has no attribute 'drop'

In [52]:
df_pyspark.show()

AttributeError: 'NoneType' object has no attribute 'show'

In [53]:
df_pyspark = df_pyspark.withColumnRenamed('Genero','Sexo')

AttributeError: 'NoneType' object has no attribute 'withColumnRenamed'

In [4]:
df_pyspark = spark.read.csv('test.csv',header=True,inferSchema=True)

In [4]:
df_pyspark.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- edad: integer (nullable = true)
 |-- Genero: string (nullable = true)
 |-- Salario: integer (nullable = true)

In [5]:
df_pyspark.show()

+------+----+------+-------+
|Nombre|edad|Genero|Salario|
+------+----+------+-------+
|  qweq|  34|     H|   5000|
|qweqwe|null|     M|   1331|
|asdasd|null|     H|    609|
|asdasd|  12|     M|  12312|
|  null|  76|     H|  15000|
|llllll|  12|     h|  12312|
+------+----+------+-------+

In [7]:
df_pyspark.na.drop().show()

+------+----+------+-------+
|Nombre|edad|Genero|Salario|
+------+----+------+-------+
|  qweq|  34|     H|   5000|
|asdasd|  12|     M|  12312|
|llllll|  12|     h|  12312|
+------+----+------+-------+

In [13]:
df_pyspark_DropNA_all=df_pyspark.na.drop(how='all')

In [16]:
df_pyspark_DropNA_all.show()

+------+----+------+-------+
|Nombre|edad|Genero|Salario|
+------+----+------+-------+
|  qweq|  34|     H|   5000|
|qweqwe|null|     M|   1331|
|asdasd|null|     H|    609|
|asdasd|  12|     M|  12312|
|  null|  76|     H|  15000|
|llllll|  12|     h|  12312|
+------+----+------+-------+

In [14]:
df_pyspark_DropNA_any= df_pyspark.na.drop(how='any')

In [15]:
df_pyspark_DropNA_any.show()

+------+----+------+-------+
|Nombre|edad|Genero|Salario|
+------+----+------+-------+
|  qweq|  34|     H|   5000|
|asdasd|  12|     M|  12312|
|llllll|  12|     h|  12312|
+------+----+------+-------+

In [17]:
df_pyspark.show()

+------+----+------+-------+
|Nombre|edad|Genero|Salario|
+------+----+------+-------+
|  qweq|  34|     H|   5000|
|qweqwe|null|     M|   1331|
|asdasd|null|     H|    609|
|asdasd|  12|     M|  12312|
|  null|  76|     H|  15000|
|llllll|  12|     h|  12312|
+------+----+------+-------+

In [25]:
df_pyspark.na.drop(how='any',thresh=3).show()

+------+----+------+-------+
|Nombre|edad|Genero|Salario|
+------+----+------+-------+
|  qweq|  34|     H|   5000|
|qweqwe|null|     M|   1331|
|asdasd|null|     H|    609|
|asdasd|  12|     M|  12312|
|  null|  76|     H|  15000|
|llllll|  12|     h|  12312|
+------+----+------+-------+

In [26]:
df_pyspark.na.drop(how='any',subset=['edad']).show()

+------+----+------+-------+
|Nombre|edad|Genero|Salario|
+------+----+------+-------+
|  qweq|  34|     H|   5000|
|asdasd|  12|     M|  12312|
|  null|  76|     H|  15000|
|llllll|  12|     h|  12312|
+------+----+------+-------+

In [5]:
df_pyspark.na.fill(0).show()

+------+----+------+-------+
|Nombre|edad|Genero|Salario|
+------+----+------+-------+
|  qweq|  34|     H|   5000|
|qweqwe|   0|     M|   1331|
|asdasd|   0|     H|    609|
|asdasd|  12|     M|  12312|
|  null|  76|     H|  15000|
|llllll|  12|     h|  12312|
+------+----+------+-------+

In [6]:
df_pyspark.na.fill('Mising Values').show()

+-------------+----+------+-------+
|       Nombre|edad|Genero|Salario|
+-------------+----+------+-------+
|         qweq|  34|     H|   5000|
|       qweqwe|null|     M|   1331|
|       asdasd|null|     H|    609|
|       asdasd|  12|     M|  12312|
|Mising Values|  76|     H|  15000|
|       llllll|  12|     h|  12312|
+-------------+----+------+-------+

In [7]:
df_pyspark.na.fill(0,['Salario']).show()

+------+----+------+-------+
|Nombre|edad|Genero|Salario|
+------+----+------+-------+
|  qweq|  34|     H|   5000|
|qweqwe|null|     M|   1331|
|asdasd|null|     H|    609|
|asdasd|  12|     M|  12312|
|  null|  76|     H|  15000|
|llllll|  12|     h|  12312|
+------+----+------+-------+

In [8]:
df_pyspark.na.fill(0,['edad','Salario']).show()

+------+----+------+-------+
|Nombre|edad|Genero|Salario|
+------+----+------+-------+
|  qweq|  34|     H|   5000|
|qweqwe|   0|     M|   1331|
|asdasd|   0|     H|    609|
|asdasd|  12|     M|  12312|
|  null|  76|     H|  15000|
|llllll|  12|     h|  12312|
+------+----+------+-------+