## Filter y groupBY

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate()

In [4]:
df_pySpark = spark.read.csv("prueba2.csv",header= True,inferSchema = True)

In [5]:
df_pySpark.show()

+------+----+------+-------+
|Nombre|Edad|Genero|Salario|
+------+----+------+-------+
|  Pepe|  12|     H|   5000|
| Angel|  40|     M|   8000|
| Elisa|  31|     M|  22000|
|  Jose|  34|     H|  10000|
| Mario|  23|     H|   9000|
| Josue|  23|     H|  15000|
+------+----+------+-------+

## Filter operation

In [10]:
### Filtrar por salario> menor o igual que 
df_pySpark.filter("Salario<=10000").show()

+------+----+------+-------+
|Nombre|Edad|Genero|Salario|
+------+----+------+-------+
|  Pepe|  12|     H|   5000|
| Angel|  40|     M|   8000|
|  Jose|  34|     H|  10000|
| Mario|  23|     H|   9000|
+------+----+------+-------+

In [12]:
### Filtrar por salario> menor o igual que 1000, pero mostrando solo nombre y edad
df_pySpark.filter("Salario<=10000").select(["Nombre","Edad"]).show()

+------+----+
|Nombre|Edad|
+------+----+
|  Pepe|  12|
| Angel|  40|
|  Jose|  34|
| Mario|  23|
+------+----+

In [16]:
df_pyFilter = df_pySpark.filter("Salario<=10000")
df_pyFilter.select(["Nombre","Edad"]).show()

+------+----+
|Nombre|Edad|
+------+----+
|  Pepe|  12|
| Angel|  40|
|  Jose|  34|
| Mario|  23|
+------+----+

In [17]:
df_pySpark.filter((df_pySpark["Salario"]>=10000)& (df_pySpark["Salario"]<=20000)).show()

+------+----+------+-------+
|Nombre|Edad|Genero|Salario|
+------+----+------+-------+
|  Jose|  34|     H|  10000|
| Josue|  23|     H|  15000|
+------+----+------+-------+

In [19]:
df_pySpark.filter((df_pySpark["Salario"]>=10000)& (df_pySpark["Salario"]<=20000)).select(["Nombre","Salario"]).show()

+------+-------+
|Nombre|Salario|
+------+-------+
|  Pepe|   5000|
| Angel|   8000|
| Elisa|  22000|
|  Jose|  10000|
| Mario|   9000|
| Josue|  15000|
+------+-------+

In [27]:
df_pySpark.filter((df_pySpark["Salario"]>=10000)| (df_pySpark["Salario"]<=20000)).select(["Nombre","Salario"]).show()

+------+-------+
|Nombre|Salario|
+------+-------+
|  Pepe|   5000|
| Angel|   8000|
| Elisa|  22000|
|  Jose|  10000|
| Mario|   9000|
| Josue|  15000|
+------+-------+

In [26]:
df_pySpark.filter(~((df_pySpark["Salario"]>=8000)|(df_pySpark["Salario"]>=20000))).show()

+------+----+------+-------+
|Nombre|Edad|Genero|Salario|
+------+----+------+-------+
|  Pepe|  12|     H|   5000|
+------+----+------+-------+

## GrupBy

In [30]:
df_pySpark2 = spark.read.csv("prueba3.csv",header= True,inferSchema = True)

In [31]:
df_pySpark2.show()

+------+----------------+-------+
|Nombre|    Departamento|Salario|
+------+----------------+-------+
|  Paco|             Iot|  20000|
| Angel|              Bi|  21000|
| Elisa|    Data Science|  22000|
|  Jose|    Data Science|  19000|
| Mario|Data Engeneering|  25000|
| Jesus|Data Engeneering|  24000|
| Elisa|Data Engeneering|  22000|
| Segio|              Bi|  20000|
|  Paco|              Bi|  21000|
| Segio|             Iot|  18000|
+------+----------------+-------+

In [32]:
df_pySpark2.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Departamento: string (nullable = true)
 |-- Salario: integer (nullable = true)

In [33]:
## GroupBy
## Encontrar la suma de salarios por nombre

df_pySpark2.groupBy("Nombre").sum().show()

+------+------------+
|Nombre|sum(Salario)|
+------+------------+
|  Paco|       41000|
| Segio|       38000|
|  Jose|       19000|
| Angel|       21000|
| Jesus|       24000|
| Elisa|       44000|
| Mario|       25000|
+------+------------+

In [34]:
df_pySpark2.groupBy("Departamento").sum().show()

+----------------+------------+
|    Departamento|sum(Salario)|
+----------------+------------+
|             Iot|       38000|
|Data Engeneering|       71000|
|    Data Science|       41000|
|              Bi|       62000|
+----------------+------------+

In [35]:
df_pySpark2.groupBy("Departamento").mean().show()

+----------------+------------------+
|    Departamento|      avg(Salario)|
+----------------+------------------+
|             Iot|           19000.0|
|Data Engeneering|23666.666666666668|
|    Data Science|           20500.0|
|              Bi|20666.666666666668|
+----------------+------------------+

In [36]:
df_pySpark2.groupBy("Departamento").count().show()

+----------------+-----+
|    Departamento|count|
+----------------+-----+
|             Iot|    2|
|Data Engeneering|    3|
|    Data Science|    2|
|              Bi|    3|
+----------------+-----+

In [37]:
df_pySpark2.groupBy("Departamento").max().show()

+----------------+------------+
|    Departamento|max(Salario)|
+----------------+------------+
|             Iot|       20000|
|Data Engeneering|       25000|
|    Data Science|       22000|
|              Bi|       21000|
+----------------+------------+

In [38]:
df_pySpark2 = spark.read.csv("Prueba4.csv",header= True,inferSchema = True)

In [39]:
df_pySpark2.show()

+------+----------------+-------+-------------+
|Nombre|    Departamento|Salario|Pago por Hora|
+------+----------------+-------+-------------+
|  Paco|             Iot|  20000|          100|
| Angel|              Bi|  21000|          150|
| Elisa|    Data Science|  22000|          200|
|  Jose|    Data Science|  19000|          150|
| Mario|Data Engeneering|  25000|          250|
| Jesus|Data Engeneering|  24000|          300|
| Elisa|Data Engeneering|  22000|          200|
| Segio|              Bi|  20000|          150|
|  Paco|              Bi|  21000|          150|
| Segio|             Iot|  18000|          100|
+------+----------------+-------+-------------+

In [41]:
df_pySpark2.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Departamento: string (nullable = true)
 |-- Salario: integer (nullable = true)
 |-- Pago por Hora: integer (nullable = true)

In [44]:
df_pySpark_Max= df_pySpark2.groupBy("Nombre").max()

In [45]:
df_pySpark_Max.show()

+------+------------+------------------+
|Nombre|max(Salario)|max(Pago por Hora)|
+------+------------+------------------+
|  Paco|       21000|               150|
| Segio|       20000|               150|
|  Jose|       19000|               150|
| Angel|       21000|               150|
| Jesus|       24000|               300|
| Elisa|       22000|               200|
| Mario|       25000|               250|
+------+------------+------------------+

In [47]:
df_pySpark_Max.select("Nombre","max(Pago por Hora)").show()

+------+------------------+
|Nombre|max(Pago por Hora)|
+------+------------------+
|  Paco|               150|
| Segio|               150|
|  Jose|               150|
| Angel|               150|
| Jesus|               300|
| Elisa|               200|
| Mario|               250|
+------+------------------+